<!DOCTYPE html>
<html>
  <head>
    <title>Slow Food</title>
    <link rel="stylesheet" href="<%= url("/css/main.css")%>">
 <!-- <link rel="stylesheet" href="<https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.min.css"> -->
  </head>
  <body>
    <ul class="topnav" id="myTopnav">
      <li><a href="#home">Home</a></li>
      <li><a href="#menu">Menu</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
      </li>
    </ul>
    <div>
      <h1 class="welcome_text">Welcome to "what ever this restaurant is called"!</h1>
    </div>

    <div class="login-shit">
     <% if current_user %>
        Logged in as <%= current_user.username %>
        <a href="/auth/logout">Log Out</a></p>
      <% else %>

        <a href="/auth/login">Log In</a>
      <% end %>

      <% if flash[:success] %>
        <div style="color:blue;">
          <%= flash[:success] %>
        </div>
      <% end %>

      <% if flash[:error] %>
        <div style="color:red;">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  <script src="<%= url("/css/main.js")%>"></script>
  </body>
</html>
